<header class="nilenso-header">
  <img class="logo-image left" src="/images/nilenso-200.png" />
  <a class="header-link logo-name left" href="http://nilenso.com">nilenso</a>
  <a class="header-link right page-link rss-link" href="{{ site.subscribe_rss }}" title="subscribe via RSS"><img class="rss-link-image" src="/images/rss.png"></img></a>
  <a class="header-link right page-link" href="/blog/archives">Blog</a>
  <a class="header-link right page-link" id="about-link" href="http://nilenso.com/#about" data-page="about">About</a>
</header>
<div class="clear"></div>
