<div class="clearspace"></div>
<ul id="menu">
  {% if site.subtitle %}
  <li class="description">
    <span>{{ site.subtitle }}</span>
  </li>
  {% endif %}

  {% for post in site.popular_posts limit: site.popular_posts_count %}
  <li>
    <a class="popular-link" href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}
