@font-face {
  font-family: 'Junction';
  src: url('/assets/fonts/junction-webfont.eot?v=1.0');
  src: url('/assets/fonts/junction-webfont.eot?#iefix&v=1.0') format('embedded-opentype'), url('/assets/fonts/junction-webfont.woff?v=1.0') format('woff'), url('/assets/fonts/junction-webfont.ttf?v=1.0') format('truetype'), url('/assets/fonts/junction-webfont.svg#junctionregular?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

$topbar-height: 56px;
$sidebar-width: 17%;
$pink: #f8337d;
body {
  background-image: url("../images/texture.png");
  background-color: #EEEEEE;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  @include clearfix;
}

.logo-image {
  width: 50px;
}

header.topbar {
  width: 100%;
  height: $topbar-height;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
  overflow: hidden;
  padding: 4px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 10000;

  &:after {
    clear: both;
  }
}

.left-topbar {
  width: $sidebar-width;
  float: left;
}

.clearspace {
  padding-top: $topbar-height;
}

.header-link {
  font-size: 16px;
  font-family: 'museo-sans' sans-serif;
  color: black;
  line-height: $topbar-height;
  padding: 0 10px;
}

.description {
  color: $pink;
  font-size: 24px;
  line-height: 24px;
  font-family: "Rokkitt", serif;
  text-shadow: 1px 1px 2px white;
  width: 65%;
  max-width: 300px;
  margin: 0 0 30px 30px;
}

.logo-name {
  font-family: 'Junction';
  font-size: 30px;
  padding: 0 4px;
  vertical-align: top;
}

.page-link {
  border-top: 3px solid transparent;
}

.page-link.active {
  border-color: #f8337d;
}

.page-link:hover {
  border-color: pink;
}

#main {
  margin-left: $sidebar-width;
}

#sidebar {
  width: $sidebar-width;
}

ul#menu a.popular-link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #888;
}

.popular-heading {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}
